:root {
    --primary-color: #4cac64;
    --primary-color-light: #78d991;
    --primary-color-extralight: #d9e8dd;
    --light-grey: #f4f4f4;
    --opaque: rgba(34, 34, 34, 0);
    --link: #4cab64;
    --link-hover: #77d890;
}

.pantryContentsWrapper {
    padding: 4rem 10rem;
    max-width: 1400px;
    margin: auto;
}
/* Navbar */
.navbar {
    position: sticky;
    top: 0;
}

.navbar-brand-custom {
    font-family: 'Lobster', cursive;
    padding: 0 1rem;
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: .1rem;
}

/* Buttons */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    border-color: #fff;
    background-color: var(--primary-color-light);
}

.btn-outline-success {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-success:hover {
    color: var(--primary-color-light);
    border-color: var(--primary-color-light);
    background-color: var(--opaque);
}

.btn-delete {
    color: var(--white);
    background-color: var(--danger);
}

.btn-delete:hover {
    background-color: #fd6a79;
}


.btn-secondary {
    color: var(--gray-dark);
    background-color: var(--white);
}

.btn-secondary:hover {
    color: var(--gray);
    background-color: var(--white);
}

/* Tables */
.tableNavigation {
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.tableNavigation a {
    margin: auto 0;
}

.tableContainer {
    height: 70vh;
    overflow: auto;
}

.th-fixed-width {
    width: 3rem;
}

.th-fixed-width-med {
    width: 10rem;
}

.table td, .table th {
    padding: 0.1rem .75rem;
}

.scrollbar-thin {
    scrollbar-color: var(--primary-color-extralight) var(--light-grey);
    scrollbar-width: thin;
    max-height: 30rem;
}

/* Other */

a {
    color: var(--link)
}

a:hover {
    color: var(--link-hover)
}

.text-align-right {
    text-align: right;
}




h2 {
    margin-bottom: 1rem;
}

input[type="date"] {
    color: var(--gray-dark);
    padding: .2rem .8rem;
}

.radioDiv:hover {
    background-color: var(--primary-color-extralight);
}

.radioLabel {
    margin: 0;
    padding: .4rem;
    width: 100%;
}

.productRadioLabel {
    width: 100%;
}
