.pantrySelectionWrapper {
    padding: 4rem;
}

.pantryContentsWrapper {
    padding: 4rem;
}

td {
    padding-right: 1rem;
}

.navbar {
    background-color: #c1dca1;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    padding: 0;
    color: brown;
    font-size: 1.6rem;
}

.btn {
    margin: 1rem 0;
}