:root {
    --body: #ffffff;
    --primary-color: #4cac64;
    --primary-color-light: #78d991;
    --primary-color-matte: #cde6d4;
    --primary-color-extralight: #d9e8dd;
    --light-grey: #f4f4f4;
    --opaque: rgba(34, 34, 34, 0);
    --link: #4cab64;
    --link-hover: #77d890;
}

body {
    min-height: 100vh;
    background-color: var(--body);
}

main {
    margin: 0 2rem;
}

a {
    color: var(--link)
}

a:hover {
    color: var(--link-hover)
}

h2 {
    margin-bottom: 1rem;
}

.content-large, .content-medium {
    margin: 0 auto;
}

.content-large {
    max-width: 700px;
}

.content-medium {
    max-width: 480px;
}

/* --------------------------------------- Navbar */
.navbar {
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
    z-index: 9;
}

.navbar-right {
    flex-grow: 0;
}

.navbar-brand-custom {
    font-family: 'Lobster', cursive;
    padding: 0 1rem;
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: .1rem;
}

.admin-nav {
    background-color: var(--primary-color-matte);
}

/* --------------------------------------- Buttons */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    border-color: #fff;
    background-color: var(--primary-color-light);
}

.btn-outline-success {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-success:hover {
    color: var(--primary-color-light);
    border-color: var(--primary-color-light);
    background-color: var(--opaque);
}

.btn-delete {
    color: var(--white);
    background-color: #d54f5c;
}

.btn-delete:hover {
    background-color: #fd6a79;
}

.btn-secondary {
    color: var(--gray-dark);
    background-color: var(--white);
}

.btn-secondary:hover {
    color: var(--gray);
    background-color: var(--white);
}

.btn-small {
    width: 6rem;
}

.btn-members {
    color: var(--white);
    background-color: #3f95e0;
    position: fixed;
    right: 55%;
}

.btn-members:hover {
    background-color: #66b5fa;
}


/* --------------------------------------- Tables */
.table-container {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.th-fixed-width-small {
    width: 3rem;
}

.th-fixed-width-med {
    width: 10rem;
}

.table td, .table th {
    padding: 0.1rem .75rem;
}

/* --------------------------------------- Forms */
.input-text {
    padding: .6rem;
    border-radius: .2rem;
    border: none;
    width: 100%;
}

label {
    margin-right: .5rem;
}

.basket label {
    font-size: .9rem;
    color: #444;
    font-weight: bold;
}

input[type="date"] {
    color: var(--gray-dark);
    padding: .2rem .8rem;
}

/* --------------------------------------- Radio */
.radioDiv:hover {
    background-color: var(--primary-color-extralight);
}

.radioLabel {
    margin: 0;
    padding: .4rem;
    width: 100%;
}

.productRadioLabel {
    width: 100%;
}

/* --------------------------------------- Other */

.basket {
    background-color: var(--primary-color-matte);
    border-left: .4rem solid var(--primary-color) !important;
    border-top-right-radius: .3rem !important;
    border-bottom-right-radius: .3rem !important;
    padding: 2rem;
}

.scrollbar-thin {
    scrollbar-color: var(--primary-color-extralight) var(--light-grey);
    scrollbar-width: thin;
    max-height: 30rem;
}

/* --------------------------------------- Bootstrap overrides */
.overflow-auto {
    overflow: auto;
}

.text-align-right {
    text-align: right;
}

.bordered {
    border: 2px var(--primary-color) solid;
}

.brand-custom {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    color: var(--primary-color);
    letter-spacing: .1rem;
}