<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head"></head>

<body>
<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="content-medium">

        <h2 th:if="${pantryProduct.id == -1}">Add a product to the pantry</h2>
        <h2 th:unless="${pantryProduct.id == -1}">Edit a product</h2>

        <form th:action="@{/pantry/{pantryId}/add(pantryId=${pantryProduct.pantryId})}" method="post" th:object="${pantryProduct}" id ="the-form">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{pantryId}">
            <input type="hidden" th:field="*{productDefinitionId}" th:unless="${pantryProduct.id == -1}">

            <div class="table-container scrollbar-thin" th:if="${pantryProduct.id == -1}">
                <div th:each="product : ${productDefinitions}">
                    <button type="submit"
                            data-toggle="modal"
                            data-target="#myModal"
                            th:name="productDefinitionId"
                            th:text="${product.name}"
                            th:value="${product.id}">
                    </button>
                </div>
            </div>

            <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="areYouSure?" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmationTitle">Add an expiration date</h5>
                        </div>
                        <div class="modal-body">
                            <p>Empty</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary btn-small float-right">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</main>
<footer th:replace="fragments/template :: footer"></footer>
<div th:replace="fragments/template :: bodyScripts"></div>
</body>

</html>