<!DOCTYPE html>
<html lang="en" >
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>
<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="content-medium">

        <h2 th:if="${pantryProduct.id == -1}">Add a product to the pantry</h2>
        <h2 th:unless="${pantryProduct.id == -1}">Edit a product</h2>

<!--        <form th:action="@{/pantry/{pantryId}/add(pantryId=${pantryProduct.pantry.id})}" method="post" th:object="${pantryProduct}">-->
<!--            <div class="form-group row">-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="hidden" th:field="*{id}">-->
<!--                    <input type="hidden" th:field="*{pantry.id}">-->
<!--                    <input th:if="${pantryProduct.id != -1}"-->
<!--                           type="hidden"-->
<!--                           th:field="*{productDefinition.id}">-->

<!--                    <label for="date" class="col-form-label">Expiration date</label>-->
<!--                    <input id="date" type="date" th:field="*{expirationDate}" class="input-text bordered">-->
<!--                </div>-->
<!--            </div>-->

<!--            <fieldset th:if="${pantryProduct.id == -1}">-->
<!--                <legend>Products:</legend>-->
<!--                <div class="table-container scrollbar-thin">-->
<!--                    <div th:each="product : ${productDefinitions}" class="radioDiv">-->
<!--                        <label name="productRadio" class="productRadioLabel">-->
<!--                            <input th:value = "${product.id}"-->
<!--                                   th:field="*{productDefinition}"-->
<!--                                   type="radio">-->
<!--                            <span th:text="${product.name}"></span>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </fieldset>-->
<!--            <div class="overflow-auto mt-4">-->
<!--                <button type="submit" class="btn btn-primary float-right">Submit</button>-->
<!--            </div>-->
<!--        </form>-->
        <form th:action="@{/pantry/{pantryId}/add(pantryId=${pantryProduct.pantry.id})}" method="post" th:object="${pantryProduct}" id ="the-form">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{pantry.id}">
                    <input th:if="${pantryProduct.id != -1}"
                           type="hidden"
                           th:field="*{productDefinition.id}">
                <table>
                    <tr th:each="product : ${productDefinitions}">
                        <td>
                            <a data-toggle="modal" href="#myModal" data-target="#myModal" th:text="${product.name}"><button type="submit"></button></a>
                        </td>
                    </tr>
                </table>
                </div>
                <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="areYouSure?" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmationTitle">Are you sure?</h5>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Empty modal for now
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--                                <a th:href= "@{/pantry/{pantryId}/add(pantryId=${pantryProduct.pantry.id})}"><button type="button" id="the-submit" >Add</button></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/template :: footer"></footer>
<div th:replace="fragments/template :: bodyScripts"></div>
</body>
</html>