<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="pantryContentsWrapper registerForm">
        <h2>Please log in</h2>

        <form th:action="@{/register}" method="post" th:object="${user}">
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>

        <div th:if="${errorMessage}" class="alert alert-warning" role="alert">
            <span th:text="${errorMessage}">Error message</span>
        </div>

    </div>

</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>