<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="pantryContentsWrapper">

        <h2>Select a pantry</h2>
        <div class="tableNavigation">
            <a href="/pantry/create"><button type="button" class="btn btn-primary">Create a new pantry</button></a>
        </div>

        <table th:if="${pantries.size > 0}" class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th class="th-fixed-width"></th>
                    <th class="th-fixed-width"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pantry : ${pantries}">
                    <td>
                        <a
                            th:href="@{/pantry/{pantryId}(pantryId=${pantry.id})}"
                            th:text="${pantry.name}">Pantry name
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/pantry/{pantryId}/edit(pantryId=${pantry.id})}"> edit</a>
                    </td>
                    <td>
                </tr>
            </tbody>
        </table>

        <p th:unless="${pantries.size != 0}" class="text-center">You do not seem to have any pantries...</p>
    </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>