<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class = "container">
        <div class="row">

            <div class="col">
                <div class="position-relative">
                    <a class="returnDiv" th:href="@{/pantry/{pantryId}/members(pantryId=${pantryId})}">
                        <span class="material-symbols-outlined returnIcon">arrow_back</span>
                    </a>
                    <span th:text="${pantryMember.getPantryName()}">pantryName</span>
                    <h2 th:text="${pantryMember.getUserName()}">userName</h2>
                </div>
            </div>

            <div class="col-6">
                <div th:if="${errorMessage}" class="alert alert-info" role="alert">
                    <span th:text="${errorMessage}">errorMessage</span>
                </div>
                <div th:if="${successMessage}" class="alert alert-success" role="alert">
                    <span th:text="${successMessage}">successMessage</span>
                </div>

                <div id="makeAdmin" class="basket form-group">
                    <div class="row">
                        <div class="col-8">
                            <span th:if="${pantryMember.isAdministrator == true} and ${currentUserId == pantryMember.getAcornUserId}">
                                You are an admin in this pantry.
                            </span>
                            <span th:if="${pantryMember.isAdministrator == true} and ${currentUserId != pantryMember.getAcornUserId}"
                                  th:text="${pantryMember.getUserName()} + ' is an administrator in this pantry'">
                            </span>
                        </div>
                        <div class="col-4">
                            <button th:if="${pantryMember.isAdministrator == true} and ${currentUserId == pantryMember.getAcornUserId}"
                                    class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#unmakeAdminModal">
                                Resign as admin
                            </button>
                            <button th:if="${currentUserIsAdmin && pantryMember.isAdministrator == false}"
                                    class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#adminModal">
                                Make admin
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
            </div>

        </div>
    </div>

    <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="areYouSure?" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure?</h5>
                </div>
                <div class="modal-body">
                    <p>
                        <span th:block th:text="'You are about to make ' + ${pantryMember.getUserName()} + ' an administrator for this pantry '"></span>.
                        <br>
                        Are you sure?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a  th:if="${currentUserIsAdmin && pantryMember.isAdministrator == false}"
                        class="btn btn-primary" th:href="@{/pantry/{pantryId}/members/{pantryUserId}/makeAdmin(pantryId=${pantryId}, pantryUserId=${pantryUserId})}">
                        Make admin </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="unmakeAdminModal" tabindex="-1" role="dialog" aria-labelledby="areYouSure?" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure?</h5>
                </div>
                <div class="modal-body">
                    <p>
                        <span>You are about to revoke your admin right</span>.
                        <br>
                        Are you sure?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a  th:if="${pantryMember.isAdministrator == true} and ${currentUserId == pantryMember.getAcornUserId}"
                        class="btn btn-primary" th:href="@{/pantry/{pantryId}/members/{pantryUserId}/unmakeAdmin(pantryId=${pantryId}, pantryUserId=${pantryUserId})}">
                        Revoke admin rights </a>

                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>

