<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="content-medium basket overflow-auto">

        <h2 >Add a new member to your Pantry</h2>



        <form th:action="@{/pantry/{pantryId}/members/addMember(pantryId=${pantryId})}" method="post"></form>
        <input type="text" th:value="${userEmail}" name="userEmail" id="userEmail" placeholder="e-mailadres"/>
        <input type="submit" />

<!--        <div class="form-group">-->
<!--            <input type="text" id="email" class="input-text" placeholder="Enter your e-mailaddress.">-->
<!--        </div>-->

        </form>



    </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>
