<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="pantrySelectionWrapper">
        <ul>
            <li th:each="pantry : ${pantries}">
                <a
                   th:href="@{/pantry/{pantryId}(pantryId=${pantry.id})}"
                   th:text="${pantry.name}">Pantry name
                </a>
            </li>
        </ul>
    </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>