<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="container">
        <div class="row">

            <div class="col">
            </div>

            <div class="col-6">
                <div class="basket form-group overflow-auto">
                    <h2 th:if="${pantryVM.id == -1}">Create a pantry</h2>
                    <h2 th:unless="${pantryVM.id == -1}">Edit your pantry</h2>
                    <form th:action="@{/pantry/edit}" method="post" th:object="${pantryVM}">
                        <div class ="form-group">
                            <div class="">
                                <label for="name" class="col-form-label">Name</label>
                            </div>
                            <div class="">
                                <input type ="hidden" id="ID" th:field="*{id}">
                                <input autofocus type ="text" id="name" th:field="*{name}" class="input-text" placeholder="Enter the name of your pantry.">
                            </div>
                        </div>
                        <div th:each="error: ${#fields.errors('name')}" class="alert alert-info" role="alert" >
                            <span th:text="${error}">errorMessage</span>
                        </div>
                        <div class="">
                            <a th:href="@{/pantrySelection}" class="btn btn-secondary">Return</a>
                            <button type="submit" class="btn btn-primary float-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col">
            </div>

        </div>
    </div>

</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>