<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head"></head>

<body>
<nav th:replace="fragments/template :: navbar"></nav>

<main>

    <div class="container">
        <div class="row">

            <div class="col">
            </div>

            <div class="col-5">
                <div class="basket">
                    <h2>Edit a product</h2>
                    <form th:action="@{/pantry/{pantryId}/edit(pantryId=${pantryProduct.pantryId})}" method="post" th:object="${pantryProduct}" id ="the-form">
                        <input type="hidden" th:field="*{id}">
                        <div class="my-5">
                            <div>
                                <label for="date">Expiration date:</label>
                            </div>
                            <input id="date" type="date" th:field="*{expirationDate}">
                        </div>
                        <div class="overflow-auto">
                            <a th:href="@{/pantry/{pantryId}(pantryId=${pantryId})}"><button type="button" class="btn btn-secondary">Return</button></a>
                            <button type="submit" class="btn btn-primary float-right">Submit changes</button>
                        </div>
                    </form>

                </div>
            </div>

            <div class="col">
            </div>

        </div>
    </div>

</main>

<footer th:replace="fragments/template :: footer"></footer>
<div th:replace="fragments/template :: bodyScripts"></div>

</body>



</html>