<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="container">
        <div class="row">

            <div class="col">
                <span sec:authentication="name">userName</span>
                <h2>My Pantries</h2>
                <div class="d-flex flex-column my-4">
                    <a href="/pantry/create"><button type="button" class="btn btn-primary">New pantry</button></a>
                </div>
            </div>

            <div>
                <div th:if="${pantries.size > 0}" class="cardsContainer">
                    <div th:each="pantry : ${pantries}" class="cardWrapper">
                        <a th:href="@{/pantry/{pantryId}(pantryId=${pantry.id})}">
                            <div class="card">
                                <div class="card-line"></div>
                                <div class="card-body">
                                    <h4 th:text="${pantry.name}" class="title mt-4">pantryName</h4>
                                    <div>
                                        <span class="material-symbols-outlined card-icon">kitchen</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <p th:unless="${pantries.size != 0}" class="text-center">You do not seem to have any pantries...</p>
            </div>

            <div class="col">
            </div>

        </div>
    </div>

</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>