<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="content-large">

        <h2>Pantry Members</h2>

        <div class="table-container scrollbar-thin">
            <table th:if="${acornUser.size > 0}" class="table">
                <thead>
                <tr>
                    <th class="th-fixed-width-small text-align-right" scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th class="th-fixed-width-small"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pantryMember : ${acornUser}">
                    <td th:text="${pantryMember.id}" class="text-align-right"></td>
                    <td th:text="${pantryMember.name}"></td>
                </tr>
                </tbody>

            </table>


        </div>

    </div>

</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>