<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="content-large">
        <div class="basket form-group overflow-auto">
            <h2 th:if="${pantry.id == -1}">Create a pantry</h2>
            <h2 th:unless="${pantry.id == -1}">Edit a pantry</h2>
            <form th:action="@{/pantry/edit}" method="post" th:object="${pantry}">
                <div class ="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type ="hidden" id="ID" th:field="*{id}">
                        <input type ="text" id="name" th:field="*{name}" class="input-text">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
    </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>