<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="content-medium basket">

        <h2 >Add member</h2>

        <form th:action="@{/pantry/{pantryId}/members/addMember(pantryId=${pantryId})}" method="post">
            <div class="my-5">
                <div>
                    <label for="email">Emailaddress</label>
                </div>
                <input id="email" type="text"  th:name="userEmail" placeholder="Enter an emailaddress." class="input-text">
            </div>
            <div class="overflow-auto">
                <a th:href="@{/pantry/{pantryId}/members(pantryId=${pantryId})}"><button type="button" class="btn btn-secondary">Return</button></a>
                <button type="submit" class="btn btn-primary float-right">Add member</button>
            </div>
        </form>


    </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>
