<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="pantryContentsWrapper">

        <h2>Product Definitions</h2>
        <a href="/products/create">Add new</a>
        <table>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th></th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td>
                    <a th:href="@{/products/{productId}/delete(productId=${product.id})}">delete</a>
                </td>
            </tr>
        </table>

    </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>