<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="pantryContentsWrapper">

        <h2>Product Definitions</h2>

        <div class="tableNavigation">
            <a href="/products/create"><button type="button" class="btn btn-primary">Add new</button></a>
        </div>

        <div class="tableContainer scrollbar-thin">
            <table th:if="${products.size > 0}" class="table">
                <thead>
                    <tr>
                        <th class="th-fixed-width text-align-right" scope="col">Id</th>
                        <th scope="col">Product</th>
                        <th class="th-fixed-width"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}" class="text-align-right"></td>
                        <td>
                            <a th:href="@{/products/{productId}/edit(productId=${product.id})}" th:text="${product.name}"></a>
                        </td>
                        <td>
                            <a th:href="@{/products/{productId}/delete(productId=${product.id})}">delete</a>
                        </td>
                    </tr>
                </tbody>

            </table>

            <p th:unless="${products.size != 0}" class="text-center">No products were found... try a different search term</p>

        </div>

    </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>
