<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="content-medium basket overflow-auto">

        <h2 th:if="${product.id == -1}">Create a new product</h2>
        <h2 th:unless="${product.id == -1}">Edit product</h2>

        <form th:action="@{/admin/products/create}" method="post" th:object="${product}">
            <input type="hidden" th:field="*{id}">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" id="name" th:field="*{name}" class="input-text" placeholder="Write the name of the new product here">
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>

    </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>
