<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="pantryContentsWrapper">

        <h2>Product Definitions</h2>

        <a href="/products/create"><button type="button" class="btn btn-primary">Add new</button></a>

        <form th:action="@{/products/search}" method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchString">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <table>
            <tr>
                <th class="text-align-right">Id</th>
                <th>Product</th>
                <th></th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}" class="text-align-right"></td>
                <td>
                    <a th:href="@{/products/{productId}(productId=${product.id})}" th:text="${product.name}"></a>
                </td>
                <td>
                    <a th:href="@{/products/{productId}/edit(productId=${product.id})}">edit</a>
                </td>
                <td>
                    <a th:href="@{/products/{productId}/delete(productId=${product.id})}">delete</a>
                </td>
            </tr>
        </table>

    </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>
