<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head"></head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
  <div class = "container">
    <div class="row">

      <div class="col">
        <div class="position-relative">
          <a class="returnDiv" th:href="@{/pantry/{pantryId}(pantryId=${pantry.id})}">
            <span class="material-symbols-outlined returnIcon">arrow_back</span>
          </a>
          <span th:text="${pantry.name}"></span>
          <h2>Stock requirements</h2>
        </div>
      </div>

      <div class="col-6">
        <div th:if="${errorMessage}" class="alert alert-info" role="alert">
          <span th:text="${errorMessage}">errorMessage</span>
        </div>
        <div class="row mb-3 px-3 d-flex flex-row-reverse btn-container">
          <a th:href="@{/pantry/{pantryId}/stock-requirements/add(pantryId=${pantry.id})}" class="btn btn-primary">Add product</a>
        </div>
        <div th:if="${products.size > 0}">
          <table class="table m-0">
            <tr>
              <th scope="col">Product</th>
              <th scope="col th-fixed-width-small"></th>
            </tr>
          </table>
          <div class="table-container scrollbar-thin">
            <table class="table">
              <tr th:each="product : ${products}">
                <td th:text="${product.productDefinitionName}"></td>
                <td th:text="${product.amount}"></td>
              </tr>
            </table>
          </div>
        </div>
        <p th:unless="${products.size > 0}" class="text-center my-5">This seems to be a bit empty... try to add some products!</p>
      </div>

      <div class="col"></div>

    </div>
  </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>