<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="pantryContentsWrapper registerForm">
        <h2>Sign up</h2>

        <form th:action="@{/register}" method="post" th:object="${user}">
            <div>
                <label for="name">Username</label>
                <div >
                    <input type="text" id="name" th:field="*{username}">
                </div>
            </div>
            <div>
                <label for="password">Password</label>
                <div>
                    <input type="password" id="password" th:field="*{password}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>

        <div th:if="${errorMessage}" class="alert alert-warning" role="alert">
            <span th:text="${errorMessage}">Error message</span>
        </div>

    </div>

</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>