<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>

        <div class="maxWidthMedium">

            <div class="p-4 mb-4">
                <span>Your profile</span>
                <h2 th:text="${user.username}">userName</h2>
            </div>

            <div class="border p-4 mb-4">
                <h3>Change your display name</h3>
                <form th:action="@{/profile/edit}" method="post">
                    <div>
                        <label for="displayName">Display name: </label>
                        <div>
                            <input type ="hidden" id="id" th:field="*{user.id}">
                            <input type="text" id="displayName" th:field="*{user.displayName}" th:placeholder="${user.displayName}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4 btn-small float-right">Save</button>
                </form>
            </div>

            <div class="border p-4 mb-4">
                <h3>Change your password</h3>
                <form th:action="@{/profile/edit}" method="post">
                    <div>
                        <input type ="hidden" id="id" th:field="*{user.id}">
                        <label for="password">Your new password:</label>
                        <div>
                            <input type="password" id="password" th:field="*{user.password}">
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mt-4 btn-small float-right">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>