<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head"></head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="content-medium">

        <div class="ml-4">
            <span>Your profile</span>
            <h2 th:text="${userEditVM.name}">name</h2>
        </div>

        <div th:if="${errorMessage}" class="alert alert-info" role="alert">
            <span th:text="${errorMessage}">errorMessage</span>
        </div>
        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <span th:text="${successMessage}">successMessage</span>
        </div>

        <div class="basket form-group overflow-auto">
            <h4>E-mail</h4>
            <form th:action="@{/profile}" method="post" th:object="${userEditVM}">
                <input type ="hidden" th:field="*{id}">
                <input type ="hidden" th:field="*{name}">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <div>
                        <input type="text" id="email" th:field="*{email}" th:placeholder="${email}" class="input-text">
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-small float-right">Save</button>
                </div>
            </form>
        </div>

        <div class="basket form-group overflow-auto">
            <h4>Name</h4>
            <form th:action="@{/profile}" method="post" th:object="${userEditVM}">
                <input type ="hidden" th:field="*{id}">
                <input type ="hidden" th:field="*{email}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <div>
                        <input type="text" id="name" th:field="*{name}" th:placeholder="${name}" class="input-text">
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-small float-right">Save</button>
                </div>
            </form>
        </div>

        <div class="basket form-group overflow-auto">
            <h4>Password</h4>
            <form th:action="@{/profile}" method="post" th:object="${userEditVM}">
                <input type ="hidden" th:field="*{id}">
                <input type ="hidden" th:field="*{name}">
                <input type ="hidden" th:field="*{email}">
                <div>
                    <label for="password">Your current password</label>
                    <div>
                        <input type="password" id="password" th:field="*{oldPassword}" class="input-text" placeholder="Enter your current password.">
                    </div>
                    <label for="password">Create a new password</label>
                    <div>
                        <input type="password" id="password" th:field="*{newPassword}" class="input-text" placeholder="Create a new password.">
                    </div>
                    <label for="password">Confirm new password</label>
                    <div>
                        <input type="password" id="password" th:field="*{newPasswordCheck}" class="input-text" placeholder="Confirm your new password.">
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-small float-right mt-3">Save</button>
                </div>
            </form>
        </div>

    </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>