<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>

<nav th:replace="fragments/template :: navbar"></nav>

<main>
    <div class="content-medium basket">

        <h2>Sign up</h2>
        <form th:action="@{/register}" method="post" th:object="${userEditView}">
            <div class="form-group">
                <label for="name">What is your e-mailaddress?</label>
                <div class="form-group">
                    <input type="text" id="name" th:field="*{email}" class="input-text" placeholder="Enter your e-mailaddress.">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Create a password</label>
                <div class="form-group">
                    <input type="password" id="password" th:field="*{newPassword}" class="input-text" placeholder="Create a password.">
                </div>
                <label for="passwordCheck">Confirm password</label>
                <div class="form-group">
                    <input type="password" id="passwordCheck" th:field="*{newPasswordCheck}" class="input-text" placeholder="Reenter your password.">
                </div>
            </div>
            <div th:if="${errorMessage}" class="alert alert-info" role="alert">
                <span th:text="${errorMessage}">Error message</span>
            </div>
            <div class="overflow-auto">
                <button type="submit" class="btn btn-primary btn-small float-right">Sign up</button>
            </div>
        </form>

    </div>
</main>

<footer th:replace="fragments/template :: footer"></footer>

</body>

</html>