<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/template :: head"></head>

<body>

    <nav th:replace="fragments/template :: navbar"></nav>

    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                </div>

                <div class="col-6">
                        <h2>Users</h2>

                        <div th:if="${errorMessage}" class="alert alert-info" role="alert">
                            <span th:text="${errorMessage}">Error message</span>
                        </div>
                        <div th:if="${successMessage}" class="alert alert-success" role="alert">
                            <span th:text="${successMessage}">Success message</span>
                        </div>

                        <div>
                            <table class="table">
                                <tr>
                                    <th scope="col">Email</th>
                                    <th scope="col">Name</th>
                                    <th scope="col" class="th-fixed-width-small"></th>
                                </tr>
                                <tr th:each="user : ${users}">
                                    <td>
                                        <a th:href="@{/admin/users/{userId}(userId=${user.id})}" th:text="${user.email}"></a>
                                    </td>
                                    <td th:text="${user.name}"></td>
                                    <td class="text-center">
                                        <a th:href="@{/admin/users/{userId}/delete(userId=${user.id})}">
                                            <span id="deletePantryProductBtn" class="material-symbols-outlined">delete</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                </div>

                <div class="col">
                </div>

            </div>
        </div>
    </main>

    <footer th:replace="fragments/template :: footer"></footer>

</body>

</html>